.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
  height: 600px;
}

.modal-modal {
  background: #44a08d;
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
  height: 600px;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.modal-body {
  padding-top: 10px;
  max-width: 100%;
}

.modal-project {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5ae;
  border-radius: 20px;
  width: 27px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffffae;
}

.modal-tech {
  color: white;
  background-color: #44a08d;
  border-radius: 20px;
  margin-right: 5px;
  padding: 5px 7px 5px;
}

.modal-image-container {
  min-width: 50%;
  max-width: 50%;
}

.modal-image {
  -webkit-box-shadow: -4px -1px 13px 0px rgba(61, 61, 61, 1);
  -moz-box-shadow: -4px -1px 13px 0px rgba(61, 61, 61, 1);
  box-shadow: -4px -1px 13px 0px rgba(61, 61, 61, 1);
}
